name: Uploading Dar Package

on:
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    # Add your code retrieval steps here if necessary

    - name: Build DAR package
      run: |
        mkdir dar-content
        cp manifest/test_app.xml dar-content/deployit-manifest.xml
        cp -r src/* dar-content/
        cd dar-content
        zip -r ../my-app.dar .
        cd ..

    - uses: digital-ai/github-actions-deploy@v4.0.0
      with:
        serverUrl: ${{ vars.SERVERURL }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        action: 'publish'
        darPackagePath: ./my-app.dar
        package: my-app.dar
